.app {
  height: 100%;
}

.main {
  height: calc(100% - 100px);
  max-height: 100%;
  display: grid;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.image {
  transition: opacity 0.1s ease-out;
  cursor: pointer;
}

.image:hover {
  opacity: 0.7;
}

.imageSelected {
  @extend .image;
  outline: 2px solid red;
}

.imageSelected:hover {
  opacity: 1;
  cursor: default;
}

.imageSelectionStart {
  @extend .image;
  outline: 2px solid yellow;
}
